@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .infinite-animation {
    animation-iteration-count: infinite;
  }
}

@layer base {
  body {
    @apply bg-[#111] font-[Raleway];
  }
}