@import "tailwindcss";

@utility scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  body {
    @apply bg-[#111] font-[Raleway] text-[rgba(255,255,255,0.75)];
  }
}
